
  <div>
    <%= link_to "Your Page", show_path %>
    <%= link_to "Post a Request", post_path %>
    <%= link_to "Your Requests", show_req_path %>
    <%= link_to "Requests Rank", rank_req_path %>
    <%= link_to "Log Out", logout_path %>
  </div>