<!-- app/views/gprequests/new.html.erb -->

<%= render "gprequests_new" %>

<h1>Post A New Request</h1>

<%= "(Current User ID: #{session[:user_id]})" %>
<br></br>

<%= form_for @gprequest do |f| %>
  <%= f.hidden_field :user_id, :value => session[:user_id] %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit "Post" %>
<% end %>

