
    <div>
      <%= link_to "Post a Request", post_path %><br></br>
      <%= link_to "Your Requests", show_req_path %><br></br>
      <%= link_to "Open Requests", list_req_path %><br></br>
      <%= link_to "Requests Rank", rank_req_path %><br></br>
      <%= link_to "Log Out", logout_path %>
    </div>